*{
	line-height: 1.5;
}
body {
	font-family: Arial;
	font-size: 22.5px;
	color: rgb(225,200,0);
	margin: 0px;
}
.bg {
	background-image: url("wolf.png");
	background-size: cover;
	background-attachment: fixed;
}
#color {
	background-color: rgba(0,0,255,0.4);
}
#home {
	text-align: center;
	margin-top: 10px;
}
.java {
	text-align: center;
}
.button {
	text-align: center;
	margin-bottom: 5px;
}
#personality {
	width: 80%;
	height: 75%;
	margin: 0px auto;
}
#me-pic {
	width: 15%;
	height: 15%;
}
h1 {
	text-align: center;
	margin: 0px;
	padding: 18px 0px;
}
h3 {
	text-align: center;
	line-height: 1;
	margin: 0px;
	padding: 18px 0px;
}
h2 {
	line-height: 1.2;
	padding: 12px 10px;
	margin: 0px;
}
p {
	padding: 12px 10px;
	margin: 0px;
}
.p-space {
	padding: 0px 10px;
	margin: 0px;
	line-height: 1.2;
}
a {
	text-align: center;
	color: orange;
	text-decoration: underline;
}
a:visited {
	color: red;
}
a:hover {
	color: rgb(255, 80, 0);
}
button {
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
button:hover {
	background-color: #3e8e41;
}
button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
h1,h2,h3,a,button,ul li::first-letter {
	text-transform: capitalize;
}
h1,h2,h3,button {
	font-family: 'Roboto Condensed';
}
a,p,li, {
	font-family: 'Open Sans';
}
ul {
	list-style: none;
	margin: 0px;
}
ol {
	list-style: upper-roman;
}
.grid {
	margin: 0px 15px;
	display: grid;
	grid-auto-columns:1fr;
	grid-auto-rows:0.6fr;
	grid-gap:15px;
}
#h1 {
	line-height: 1.0;
	grid-column:1/6;
	grid-row:1;
	text-align: center;
	margin: 0px;
	padding: 0px
}
#h3 {
	line-height: 1.0;
	grid-column:1/6;
	grid-row:2;
	text-align: center;
	margin: 0px;
	padding: 0px
}
#info {
	grid-column:1;
	grid-row:3;
}
#me {
	grid-column:2;
	grid-row:4;
}
#skills {
	grid-column:3;
	grid-row:5;
}
#education {
	grid-column:4;
	grid-row:6;
}
#work {
	grid-column:5;
	grid-row:7;
}
#school {
	grid-column:4;
	grid-row:8;
}
#github {
	grid-column:3;
	grid-row:9;
}
#useless {
	grid-column:2;
	grid-row:10;
	}
@media (max-width: 1000px) {
	.grid{
		margin: 0px 5px;
		display: grid;
		grid-auto-columns: 1fr;
		grid-auto-rows: 1fr 1fr 2.5fr 2.5fr 2.5fr 1.5fr 1.5fr;
		grid-gap: 20px;
	}
	#h1 {
		grid-column:1/3;
		grid-row:1;
		text-align: center;
		margin: auto;
	}
	#h3 {
		grid-column:1/3;
		grid-row:2;
		text-align: center;
		margin: auto;
	}
	#info {
		grid-column:1;
		grid-row:3;
	}
	#me {
		grid-column:2;
		grid-row:3;
	}
	#skills {
		grid-column:1;
		grid-row:4;
	}
	#education {
		grid-column:2;
		grid-row:4;
	}
	#work {
		grid-column:1;
		grid-row:5;
	}
	#school {
		grid-column:2;
		grid-row:5;
	}
	#github {
		grid-column:1/3;
		grid-row:6;
	}
	#useless {
		grid-column:1/3;
		grid-row:7;
	}
}