body {
	background-image:url(background.gif);
	margin: 0px;
	font-size: 15px;
}

nav {
	width: 640px;
	margin: 0px auto;
	font-family: Arial;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ad2406;
}

li {
    float: left;
}

li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li>a:hover {
    text-decoration: underline;
}
main {
	width: 640px;
	margin: 0px auto;
	background-color: #fff;
}

#banner {
	padding: 15px;
}
#left {
	float: left;
	border: 1px solid lightgray;
	padding: 5px;
	margin: 10px;
}
#right {
	float: right;
	border: 1px solid lightgray;
	padding: 5px;
	margin: 10px;
}
p,h1,a {
	padding: 0px 15px;
}
p {
	margin: 0px;
}
#first {
	padding: 13px 0px 0px 0px;
}
h1 {
	font-family: Georgia;
	font-size: 24px;
	margin: 2px 0px;
}
h2 {
	padding: 13px 0px 0px 15px;
	margin: 0px;
	float: left;
	color: #ad2406;
	font-family: arial;
	font-weight:lighter;
}
p {
	font-family: Tahoma;
}

p::first-line {
	line-height: 1.6;
}
p {
	padding: 15px;
}
main>a {
	color: #ad2406;
	padding: 0px 15px 30px 15px;
	display: block;
	font-family: arial;
}
#padding-bottom {
	padding-bottom: 11px;
}
#padding-top {
	padding-top: 0px;
}
footer {
	width: 640px;
	margin: 0px auto;
	background-color: #545245;
	text-align: center;
	color: white;
}
#home {
	padding: 20px 0px;
	color: purple;
	text-decoration: none;
}
#home:hover {
	text-decoration: underline;
}